 body {
    margin: 0px;
 }

 main {
    width: 100vw;
    height: 100vh;
 }

.bud-1 {
    position:absolute;
    top: 40%;
    left: 50%;
    width: 10px;
    height: 290px;
    background: linear-gradient(to right,rgb(0, 155, 0), rgb(0, 78, 0));
}

.bud-2 {
    position:absolute;
    top: 52%;
    left: 50%;
    width: 10px;
    height: 120px;
    transform:rotate(35deg);
    transform-origin: bottom;
    background: linear-gradient(to right,rgb(0, 155, 0), rgb(0, 78, 0));
}

.bud-3 {
    position:absolute;
    top: 60%;
    left: 50%;
    width: 10px;
    height: 120px;
    transform:rotate(-40deg);
    transform-origin: bottom;
    background: linear-gradient(to right,rgb(0, 155, 0), rgb(0, 78, 0));
}
@media screen and (min-width: 375px) and (max-width:499px) {

.bud-leaf-1 {
    position:absolute;
    right: 50%;
    top: 50%;
    width: 40px;
    height: 60px;
    transform: rotate(-45deg);
    background-color: green;
    background: linear-gradient(rgb(0, 155, 0), rgb(0, 78, 0)) ;
    border-radius: 0 50px 20px 40px;
    animation-name: bud-leaf-1;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes bud-leaf-1 {
    0% {transform: rotate(-30deg) scale(0.9) translateX(5px);}
    100%{transform: rotate(-45deg) scale(1) translateX(0px);}
}

.bud-leaf-2 {
    position: absolute;
    left:53%;
    top: 55%;
    width: 40px;
    height: 60px;
    transform: rotate(55deg);
    background-color: green;
    background: linear-gradient(rgb(0, 155, 0), rgb(0, 78, 0)) ;
    border-radius: 50px 0px 40px 20px;
    animation-name: bud-leaf-2;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes bud-leaf-2 {
    0% {transform: rotate(40deg) scale(0.9) translateX(-5px);}
    100%{transform: rotate(55deg) scale(1) translateX(0px);}
}

.bud-leaf-3 {
    position: absolute;
    left:40%;
    top: 62%;
    width: 40px;
    height: 60px;
    transform: rotate(55deg);
    background-color: green;
    background: linear-gradient(rgb(0, 155, 0), rgb(0, 78, 0)) ;
    border-radius: 0px 59px 20px 40px;
}


.flower-leaf-1 {
    position: absolute;
    top:34%;
    right: 50%;
    width: 60px;
    height: 85px;
    transform: rotate(-25deg);
    background-color: red;
    background: linear-gradient(rgb(246, 50, 50), rgb(100, 0, 0));
    border-radius: 5px 5px 40px 40px;
    animation-name: flower-leaf-1;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes flower-leaf-1 {
    0% {transform: rotate(0deg) scale(0.9) translateX(15px);}
    100%{transform: rotate(-25deg) scale(1) translateX(0px);}
}

.flower-leaf-2 {
    position: absolute;
    top:32.5%;
    left: 44%;
    width: 60px;
    height:85px;
    background-color: red;
    background: linear-gradient(rgb(255, 43, 43), rgb(118, 0, 0));
    border-radius: 5px 5px 40px 40px;
    animation-name: flower-leaf-2;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes flower-leaf-2 {
    0%{transform:scale(0.8)}
    100%{transform: scale(1);}
}


.flower-leaf-3{
    position: absolute;
    top:34%;
    left: 50%;
    width: 60px;
    height: 85px;
    transform: rotate(25deg);
    background-color: red;
    background: linear-gradient(rgb(255, 43, 43), rgb(118, 0, 0));
    border-radius: 5px 5px 40px 40px;
    animation-name: flower-leaf-3;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes flower-leaf-3 {
    0% {transform: rotate(5deg) scale(0.9) translateX(-15px);}
    100%{transform: rotate(25deg) scale(1) translateX(0px);}
}



.flower-leaf-4 {
    position: absolute;
    top:36%;
    right: 50%;
    width: 60px;
    height: 75px;
    transform: rotate(-35deg);
    background-color: red;
    background: linear-gradient(rgb(255, 43, 43), rgb(90, 0, 0));
    border-radius: 5px 5px 30px 30px;
    animation-name: flower-leaf-4;
    animation-duration: 6s;
    animation-iteration-count: 1;
   
}

@keyframes flower-leaf-4 {
    0% {transform: rotate(-15deg) scale(0.9) translateX(15px);}
    100%{transform: rotate(-35deg) scale(1) translateX(0px);}
}


.flower-leaf-5 {
    position: absolute;
    top:36%;
    left: 50%;
    width: 60px;
    height: 75px;
    transform: rotate(35deg);
    background-color: red;
    background: linear-gradient(rgb(255, 43, 43), rgb(118, 0, 0));
    border-radius: 5px 5px 30px 30px;    
    animation-name: flower-leaf-5;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes flower-leaf-5 {
    0% {transform: rotate(15deg) scale(0.9) translateX(-15px);}
    100%{transform: rotate(35deg) scale(1) translateX(0px);}
}

.flower-leaf-6 {
    position: absolute;
    top:36%;
    left: 44%;
    width: 60px;
    height: 75px;
    background-color: red;
    background: linear-gradient(rgb(255, 43, 43), rgb(118, 0, 0));
    border-radius: 5px 5px 30px 30px;
    animation-name: flower-leaf-6;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes flower-leaf-6 {
    0% {transform: scale(0.9);}
    100%{transform: scale(1);}
}


.flower-leaf-7 {
    position: absolute;
    top:60%;
    right: 67%;
    width: 55px;
    height: 70px;
    transform: rotate(-70deg);
    background-color: red;
    background: linear-gradient(rgb(246, 50, 50), rgb(100, 0, 0));
    border-radius: 5px 5px 40px 40px;
    animation-name: flower-leaf-7;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes flower-leaf-7 {
    0% {transform: rotate(-60deg) scale(0.9) translateX(10px);}
    100%{transform: rotate(-70deg) scale(1) translateX(0px);}
}

.flower-leaf-8 {
    position: absolute;
    top:56%;
    right: 59%;
    width: 55px;
    height: 70px;
    transform: rotate(-5deg);
    background-color: red;
    background: linear-gradient(rgb(246, 50, 50), rgb(100, 0, 0));
    border-radius: 5px 5px 40px 40px;
    animation-name: flower-leaf-8;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes flower-leaf-8 {
    0% {transform: rotate(-15deg) scale(0.9) translateX(-10px);}
    100%{transform: rotate(-5deg) scale(1) translateX(0px);}
}

.flower-leaf-9 {
   position: absolute;
    top:57%;
    right: 65%;
    width: 55px;
    height: 70px;
    transform: rotate(-40deg);
    background-color: red;
    background: linear-gradient(rgb(246, 50, 50), rgb(100, 0, 0));
    border-radius: 5px 5px 40px 40px;
    animation-name: flower-leaf-9;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes flower-leaf-9 {
    0% {transform: rotate(-40deg) scale(0.9);}
    100%{transform: rotate(-40deg) scale(1);}
}

.flower-leaf-10 {
    position: absolute;
    top:62%;
    right: 65%;
    width: 50px;
    height: 65px;
    transform: rotate(-90deg);
    background-color: red;
    background: linear-gradient(rgb(246, 50, 50), rgb(100, 0, 0));
    border-radius: 5px 5px 40px 40px;;
     animation-name: flower-leaf-10;
     animation-duration: 6s;
     animation-iteration-count: 1;
 }

 @keyframes flower-leaf-10{
    0% {transform: rotate(-70deg) scale(0.9) translateX(5px);}
    100%{transform: rotate(-90deg) scale(1) translateX(0px);}
}


 .flower-leaf-11 {
    position: absolute;
    top:58%;
    right: 57%;
    width: 50px;
    height: 65px;
    transform: rotate(15deg);
    background-color: red;
    background: linear-gradient(rgb(246, 50, 50), rgb(100, 0, 0));
    border-radius: 5px 5px 40px 40px;
    animation-name: flower-leaf-11;
    animation-duration: 6s;
    animation-iteration-count: 1;
}

@keyframes flower-leaf-11 {
    0% {transform: rotate(5deg) scale(0.9) translateX(-10px);}
    100%{transform: rotate(15deg) scale(1) translateX(0px);}
}


.flower-leaf-12 {
    position: absolute;
     top:60%;
     right: 61%;
     width: 55px;
     height: 65px;
     transform: rotate(-40deg);
     background-color: red;
     background: linear-gradient(rgb(246, 50, 50), rgb(100, 0, 0));
     border-radius: 5px 5px 40px 40px;
     animation-name: flower-leaf-12;
     animation-duration: 6s;
     animation-iteration-count: 1;
 }

 @keyframes flower-leaf-12 {
    0% {transform: rotate(-40deg) scale(0.9);}
    100%{transform: rotate(-40deg) scale(1);}
}
}