 body {
    margin: 0px;
 }

 main {
    width: 100vw;
    height: 100vh;
 }

.bud-1 {
    position:absolute;
    top: 40%;
    left: 50%;
    width: 10px;
    height: 250px;
    background: linear-gradient(to right,rgb(0, 155, 0), rgb(0, 78, 0));
}

@media screen and (min-width: 375px) and (max-width:499px) {

.bud-leaf-1 {
    position:absolute;
    right: 50%;
    top: 50%;
    width: 30px;
    height: 50px;
    transform: rotate(-45deg);
    background-color: green;
    background: linear-gradient(rgb(0, 155, 0), rgb(0, 78, 0)) ;
    border-radius: 0 50px 20px 40px;
}

.bud-leaf-2 {
    position: absolute;
    left:53%;
    top: 55%;
    width: 30px;
    height: 50px;
    transform: rotate(55deg);
    background-color: green;
    background: linear-gradient(rgb(0, 155, 0), rgb(0, 78, 0)) ;
    border-radius: 50px 0px 40px 20px;
}

.flower-leaf-1 {
    position: absolute;
    top:34%;
    right: 50%;
    width: 60px;
    height: 85px;
    transform: rotate(-25deg);
    background-color: red;
    background: linear-gradient(rgb(246, 50, 50), rgb(100, 0, 0));
    border-radius: 5px 5px 40px 40px;
    animation-name: flower-leaf-1;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes flower-leaf-1 {
    0% {transform: rotate(-5deg);}
    12%{transform: rotate(-7deg);}
    25%{transform: rotate(-10deg);}
    36%{transform: rotate(-13deg);}
    50%{transform: rotate(-15deg);}
    63%{transform: rotate(-17deg);}
    75%{transform: rotate(-20deg);}
    87%{transform: rotate(-23deg);}
    100%{transform: rotate(-25deg);}
}

.flower-leaf-2 {
    position: absolute;
    top:32.5%;
    left: 44%;
    width: 60px;
    height:85px;
    background-color: red;
    background: linear-gradient(rgb(255, 43, 43), rgb(118, 0, 0));
    border-radius: 5px 5px 40px 40px;

}


.flower-leaf-3{
    position: absolute;
    top:34%;
    left: 50%;
    width: 60px;
    height: 85px;
    transform: rotate(25deg);
    background-color: red;
    background: linear-gradient(rgb(255, 43, 43), rgb(118, 0, 0));
    border-radius: 5px 5px 40px 40px;
    animation-name: flower-leaf-3;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes flower-leaf-3 {
    0% {transform: rotate(5deg);}
    25%{transform: rotate(10deg);}
    50%{transform: rotate(15deg);}
    75%{transform: rotate(20deg);}
    100%{transform: rotate(25deg);}
}



.flower-leaf-4 {
    position: absolute;
    top:36%;
    right: 50%;
    width: 60px;
    height: 75px;
    transform: rotate(-35deg);
    background-color: red;
    background: linear-gradient(rgb(255, 43, 43), rgb(90, 0, 0));
    border-radius: 5px 5px 30px 30px;
    animation-name: flower-leaf-4;
    animation-duration: 5s;
    animation-iteration-count: 1;
   
}

@keyframes flower-leaf-4 {
    0% {transform: rotate(-30deg);}
    50%{transform: rotate(-33deg);}
    100%{transform: rotate(-35deg);}
}


.flower-leaf-5 {
    position: absolute;
    top:36%;
    left: 50%;
    width: 60px;
    height: 75px;
    transform: rotate(35deg);
    background-color: red;
    background: linear-gradient(rgb(255, 43, 43), rgb(118, 0, 0));
    border-radius: 5px 5px 30px 30px;    
    animation-name: flower-leaf-5;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes flower-leaf-5 {
    0% {transform: rotate(30deg);}
    50%{transform: rotate(33deg);}
    100%{transform: rotate(35deg);}
}

.flower-leaf-6 {
    position: absolute;
    top:36%;
    left: 44%;
    width: 60px;
    height: 75px;
    background-color: red;
    background: linear-gradient(rgb(255, 43, 43), rgb(118, 0, 0));
    border-radius: 5px 5px 30px 30px;
}


}